<p style="position: relative; top: 100px;">
    Home page and TOOLBAR
    <a routerLink="login">Go to Login page</a>
</p>
<!-- TOOLBAR-ABOVE -->

<ng-container *ngIf="fuseConfig.layout.toolbar.position === 'above'">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
</ng-container>
<!-- / TOOLBAR-ABOVE -->



<carded-fullwidth-tabbed-2> 
   
</carded-fullwidth-tabbed-2>

<!-- TOOLBAR -->
<ng-template #toolbar>
    <toolbar *ngIf="!fuseConfig.layout.toolbar.hidden"
             [ngClass]="[fuseConfig.layout.toolbar.position, fuseConfig.layout.toolbar.background]"></toolbar>
</ng-template>
<!-- / TOOLBAR -->
<router-outlet></router-outlet>

