@import "src/@fuse/scss/fuse";

vertical-layout-1 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: scroll;

    #main {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 1;
        min-width: 0;

        // Container 1
        > .container {
            position: relative;
            display: flex;
            flex: 1 1 0%;
            width: webkit-fill-available;
            min-height: 0;
            min-width: 0;

            // login-2 
               login-2 {
                   width: -webkit-fill-available;
                }
                p {
                    position: relative;
                    top: -4px;
                    left: 177px;
                }

                    // Content component
                    content {

                        &.inner-scroll {
                            flex: 1 1 0%;
                            min-height: 0;

                            > *:not(router-outlet) {
                                flex: 1 1 0%;
                            }
                        }
                    }
                }
            }
        }