<div class="container">
<div class="row">
    <div class="col-6">
      <h3 translate>Quiz Application</h3>
    </div>
    <div class="toolbar-separator"></div>

    <button mat-button fxHide fxShow.gt-xs
    class="language-button"
    [matMenuTriggerFor]="languageMenu">
<div fxLayout="row" fxLayoutAlign="center center">
    <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
</div>
</button>
<mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

<button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
    <span fxLayout="row" fxLayoutAlign="start center">
        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
        <span class="iso">{{lang.title}}</span>
    </span>
</button>
</mat-menu>
<div class="toolbar-separator"></div>

  </div>
  <div id="quiz">
    <h2 class="text-center font-weight-normal">{{ 'quiz.name' | translate}}</h2>
    <hr />
  
    <div *ngIf="mode=='quiz' && quiz">
      <div *ngFor="let question of filteredQuestions;">
        <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
        <div *ngIf="config.duration" class="badge badge-info float-right">Time: {{ellapsedTime}} / {{duration}}</div>
        <h3 class="font-weight-normal">{{pager.index + 1}}.
          <span [innerHTML]="question.name"></span>
        </h3>
        <div class="row text-left options">
                <div *ngIf="config.durationq"  class="badge badge-info float-right" >Time: {{ellapsedTimeq}} / {{durationq}}</div>

          <div class="col-6" *ngFor="let option of question.options">
            <div class="option">
              <label class="font-weight-normal" [attr.for]="option.id">
                <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" required= "true" /> {{option.name}}
              </label>
            </div>
          </div>
        </div>
        <button mat-button (click)="openDialog()">Hint</button>

      </div>
      <hr />
      <div class="text-center">
        <button mat-raised-button color="accent" class="btn btn-primary" (click)="goTo(pager.index + 1);"> Next</button>
        <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
      </div>
    </div>
  
    <div class="row text-center" *ngIf="mode=='review'">
      <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
        <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
      </div>
    </div>
    <div class="result" *ngIf="mode=='result'">
      <h2>Quiz Result</h2>
      <div *ngFor="let question of quiz.questions; let index = index">
        <div class="result-question">
          <h5>{{index + 1}}. {{question.name}}</h5>
          <div class="row">
            <div class="col-6" *ngFor="let Option of question.options">
              <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
            </div>
          </div>
          <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
        </div>
      </div>
      <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
    <hr />
    <div *ngIf="mode!='result'">
      <button mat-raised-button color="accent" style="margin-left: 587px;" class="btn btn-primary" (click)="onSubmit();">Submit Quiz</button>
    </div>
  </div>
  </div>
