<div class="page-layout carded fullwidth tabbed inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">
                <div class="logo">
                    <img width="170" src="assets/images/logo.png">
                </div>
            </h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Home page">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="The Test">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="About Us">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Contact Us">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <fuse-demo-content></fuse-demo-content>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
