.m-0 {
    position: relative;
    margin-top: 40px !important;
}
.page-layout.carded.fullwidth > .center > .header{
    height: 175px !important;
    margin-top: 25px;
    min-height: auto !important;
    max-height: auto !important;
}
.page-layout.carded.fullwidth.tabbed > .center > .content-card > .content > .mat-tab-group .mat-tab-header .mat-tab-label {
    width: 100%;
}